.fixed-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
}

.stick-footer {
    z-index: 10;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#chat-page .chat-me .am-list-extra {
    flex-basis: auto;
}

#chat-page .chat-me .am-list-content {
    padding-right: 15px;
    text-align: right;
}